@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background: #d1d1d1d1
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121212
  }
}

.fullpage {
  @apply flex min-h-[80vh] flex-col items-center justify-center
}
.link {
  @apply px-4 py-2 font-semibold
}
.htmltag {
  @apply font-mono font-semibold
}