@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1 {
    @apply text-5xl font-bold text-primary
  }
  .h2 {
    @apply text-lg text-primary
  }
  .h3 {
    @apply text-xs text-secondary uppercase font-semibold
  }
  .body {
    @apply text-sm text-secondary leading-7
  }
}



@layer base {
  body {
    @apply bg-background
  }
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
} 