@import "var.scss";

.about-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $step-0;
  gap: 4rem;
  .content {
    width: 60%;
    padding: 0 3rem;
    color: $gray;
    padding-bottom: 1rem;
    h2 {
      font-size: $step-4;
      font-weight: 800;
      color: $primary;
    }
    .highlight {
      color: $secondary;
    }
  }
}

.skills-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  li {
    list-style-type: disc;
    color: $secondary;
  }
}
@media (max-width: 767px) {
  .about-container {
    gap: 2rem;
    .content {
      width: 90%;
    }

  }
}