@import "var.scss";

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: $dark;
}


// @media (max-width: 767px) {
// }
// @media (max-width: 400px) {
// }