@import "var.scss";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
// font-family: 'Courier Prime', monospace;

.footer-container {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  .email {
    font-family: 'Courier Prime', monospace;
    color: $primary;
  }

  .social-icon-container {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    scale: 0.7;
  }
}

@media (max-width: 768px) {
  .footer-container {
    padding: 0 2rem;
    scale: 0.8;
  }
}