@import "../vars.scss";

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 90%;
  min-height: 8%;
  margin: auto 20px;

  h2 {
    font-size: $step-0;
    font-weight: 800;
  }

  .nav_links {
    display: flex;
    gap: 3rem;
    a {
      text-decoration: none;
      font-size: $step--2;
      color: black;
      cursor: none;
    }
  }

  button {
    padding: 0.5rem 1rem;
    background: none;
    font-size: $step--2;
    color: black;
    cursor: none;
  }

  li {
    padding: 0.5rem 1rem;
    font-size: $step--2;
    background: none;
    outline: 1px solid black;
    list-style-type: none;
    a {
      text-decoration: none;
      color: #000;
      cursor: none;
    }
  }
}

@media (max-width: 768px) {
  .header_container {
    li {
      padding: 0.3rem 0.5rem;
    }
    .nav_links {
      gap: 20px;
    }
  }
}