@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
// font-family: 'Poppins', sans-serif;

@import "var.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}