$step--2: clamp(0.61rem, calc(0.52rem + 0.39vw), 0.80rem);
$step--1: clamp(0.73rem, calc(0.60rem + 0.56vw), 1.00rem);
$step-0: clamp(0.88rem, calc(0.70rem + 0.77vw), 1.25rem);
$step-1: clamp(1.05rem, calc(0.81rem + 1.05vw), 1.56rem);
$step-2: clamp(1.26rem, calc(0.94rem + 1.42vw), 1.95rem);
$step-3: clamp(1.51rem, calc(1.08rem + 1.91vw), 2.44rem);
$step-4: clamp(1.81rem, calc(1.24rem + 2.54vw), 3.05rem);
$step-5: clamp(2.18rem, calc(1.42rem + 3.36vw), 3.82rem);
$step-6: clamp(2.61rem, calc(1.62rem + 4.42vw), 4.77rem);
$step-7: clamp(3.14rem, calc(1.83rem + 5.80vw), 5.96rem);

$primary: #424874;
$secondary: #A6B1E1;
$faded: #DCD6F7;
$background: #F4EEFF;