@import "var.scss";

.page-wrapper {
  margin: 0 10rem;
}

.header-wrapper {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;
  .nav-wrapper {
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2%;
      margin-bottom: 2%;
      h1 {
        font-size: 0.8rem;
        font-weight: 400;
      }
      a {
        font-size: 0.8rem;
        text-decoration: none;
        color: black;
      }
      button {
        font-size: 0.8rem;
        cursor: pointer;
      }
    }
  }
}

.hero-wrapper {
  height: 100%;
  width: 100%;
  font-size: 5rem;
  display: grid;
  align-content: center;
  margin-top: 12rem;
  margin-bottom: 12rem;
  .one {
    color: black;
    .name {
      color: $color2;
    }
  }
  .two {
    color: black;
    .adjective {
      color: $color3;
    }
  }
}


