@import "var.scss";

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.page-container {
  margin: 0 20rem;
}

.hero-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  .intro {
    width: 75%;
    padding-right: 10rem;
    h1 {
      margin-bottom: 2rem;
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    ul {
      list-style-type: none;
      h2 {
        margin-bottom: 1rem;
      }
      li {
        text-align: center;
        padding-top: 1rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1260px) {
  .hero-container {
    padding: 0 3rem;
  }
  .page-container {
    margin: 0 10rem;
  }
}

@media screen and (max-width: 940px) {
  .hero-container {
    flex-direction: column;
    justify-content: center;
    .intro {
      padding: 0;
      margin-bottom: 2rem;
    }
  }
  .page-container {
    margin: 0%;
  }
}