@import "var.scss";

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap');
// font-family: 'Inter Tight', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
// font-family: 'Patrick Hand', cursive;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Inter Tight', sans-serif;
}