$step--4: clamp(0.48rem, calc(0.43rem + 0.26vw), 0.61rem);
$step--3: clamp(0.58rem, calc(0.50rem + 0.37vw), 0.77rem);
$step--2: clamp(0.69rem, calc(0.59rem + 0.52vw), 0.96rem);
$step--1: clamp(0.83rem, calc(0.69rem + 0.72vw), 1.20rem);
$step-0: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
$step-1: clamp(1.20rem, calc(0.94rem + 1.32vw), 1.88rem);
$step-2: clamp(1.44rem, calc(1.09rem + 1.76vw), 2.34rem);
$step-3: clamp(1.73rem, calc(1.26rem + 2.35vw), 2.93rem);
$step-4: clamp(2.07rem, calc(1.45rem + 3.10vw), 3.66rem);
$step-5: clamp(2.49rem, calc(1.67rem + 4.08vw), 4.58rem);
$step-6: clamp(2.99rem, calc(1.92rem + 5.34vw), 5.72rem);
$step-7: clamp(3.58rem, calc(2.19rem + 6.96vw), 7.15rem);
